/* --========================================================================================================-- */
/* --===============                                 Reset CSS                                 ==============-- */
/* --========================================================================================================-- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--cor-t-lvl-01);
}

html,
body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    background: linear-gradient(#02005e 0%, #1c1e1f 15%, #1c1e1f 45%, #051119 100%) no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}