/* --========================================================================================================-- */
/* --===============                                 Reset CSS                                 ==============-- */
/* --========================================================================================================-- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--cor-t-lvl-01);
}

html,
body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    background-color: #000000;
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 15px;
    border: 3px solid #000000;
    padding: 10px;
}

.cabecalho {
    width: 100%;
    height: 95px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 10;

    padding-top: 20px;

    background: linear-gradient(#000000 35%, #00000000 100%);
    gap: 45px;

    & .h-logo {
        width: 215px;
        height: auto;
        background-color: #80808000;
        padding: 5px;
        border-radius: 1.5px;

        transition: all .35s ease-out;
        filter: drop-shadow(0 0 10px #000000a6);

        &:hover {
            background-color: #8080803d;
            transition: all .25s ease-in;
        }
    }

    & .nav-bar {
        width: auto;
        height: 100%;

        display: flex;
        align-items: end;

        & ul {
            width: 450px;
            height: 85px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 15px;

            & li a {
                color: #dfdfdf;
                border-bottom: 2px solid #cc01ff00;
                border-radius: 2.5px;
                padding: 15px 25px;
                transition: all .35s ease-out;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12.5px;

                &:hover {
                    color: #f8f8f8;
                    background-color: #8080803d;
                    transition: all .25s ease-in;
                }
            }
        }
    }
}

@media (max-width: 1230px) {
    .cabecalho {
        width: 100%;

        padding-top: 19px;

        background: linear-gradient(#000000 33%, #00000000 100%);
        gap: 42px;

        & .h-logo {
            width: 260px;
            height: auto;

            filter: drop-shadow(0 0 10px #00000088);
        }
    }
}

@media (max-width: 1000px) {
    .cabecalho {
        width: 100%;

        padding-top: 15px;

        background: linear-gradient(#000000 33%, #00000000 100%);
        gap: 39px;

        & .h-logo {
            width: 225px;
            height: auto;

            filter: drop-shadow(0 0 10px #00000088);
        }

        & ul {
            width: 300px;
            height: auto;

            gap: 1.5px;

            display: flex;
            justify-content: center;
            align-items: center;

            & li a {
                color: #dfdfdf;
                border-bottom: 2px solid #cc01ff00;
                padding: 7px 10px;
                transition: all .35s ease-out;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 11.5px;

                &:hover {
                    color: #ffffff;
                    border-bottom: 2px solid #cc01ff;
                    transition: all .35s ease-in;
                }
            }
        }
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #292929 inset !important;
    -webkit-text-fill-color: var(--cor-t-lvl-02) !important;
    transition: background-color 5000s ease-in-out 0s;
}