/* --========================================================================================================-- */
/* --===============                                 Reset CSS                                 ==============-- */
/* --========================================================================================================-- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--cor-t-lvl-01);
}

html,
body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    background: linear-gradient(#000000a6 0%, #7818c7d0 17%, #152933 41%, #051119 88%, #11131D 100%) no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-02-f1);
    border-radius: 15px;
    border: 3px solid transparent;
}

/* Botões de Scrollagem */
.btn-scroll {
    position: fixed;
    z-index: 10000;
    width: 60px;
    height: 225px;
    padding-top: 10px;
    display: block;
    right: 27px;
    bottom: 35px;
    background-color: #00000067;
    box-shadow: 0 2px 5px black;
    border-radius: 40px;

    & ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        & li a img {
            width: 22.5px;
            height: 22.5px;
            filter: invert(0.8);
            transition: all .3s ease-out;

            &:hover {
                filter: invert(1);
                transform: scale(1.04);
                transition: all .3s ease-in;
            }
        }

        .b-voltar {
            max-width: 40px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: var(--cor-01-r);
            box-shadow: 0 2px 5px black;
            transition: all .55s ease-out;
            z-index: 1000;
        
            & a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
        
                & img {
                    width: 16px;
                    height: 20px;
                }
            }
        
            &:hover {
                transform: scale(1.07);
                transition: all .55s ease-in;
            }
        }
    }
}

/* Cabeçalho */
.cabecalho {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background: linear-gradient(#07080cec, #07080c00);
    top: 0;
    left: 0;
    transition: top .3s;

    & .img {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & .logo {
            width: 198px;
            height: auto;
            filter: drop-shadow(0 0 10px rgb(0, 0, 0));
        }
    }

    .pesquisa {
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .input-field {
            width: 90%;
            background: linear-gradient(rgba(12, 12, 12, 0.67), rgba(233, 233, 233, 0.123));
            margin: 10px 0;
            height: 50px;
            border-radius: 55px;
            display: grid;
            grid-template-columns: 15% 85%;
            padding: 0 0.4rem;
            position: relative;
            transition: all .55s ease;
            border: 2px solid rgb(31, 31, 31);
            margin-left: 25px;

            & i {
                text-align: center;
                line-height: 50px;
                color: #fafafa;
                transition: 0.5s;
                font-size: 1.2rem;
                text-shadow: 0 0 5px rgba(28, 30, 31, 0);
            }

            & .search-bar {
                background: none;
                outline: none;
                border: none;
                color: #fafafa;
                font-weight: 500;
                font-size: 12pt;

                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                    height: 1em;
                    width: 1em;
                    border-radius: 50em;
                    background: url(../../Images/xmark-solid.svg) no-repeat 50% 50%;
                    background-size: contain;
                    margin-right: 20px;
                    opacity: 0.7;
                    cursor: pointer;
                    filter: invert(1);
                }

                ::-webkit-search-results-button {
                    background: transparent;
                }

                &::placeholder {
                    color: #f0f0f0;
                    font-weight: 500;
                    font-size: 12pt;
                    text-shadow: 0 0 10px black;
                }
            }
        }
    }

    .nav-bar {
        width: 40%;
        height: 100%;

        & ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;

            & li a {
                font-weight: 500;
                border-bottom: 2px solid transparent;
                color: var(--cor-t-lvl-02);
                transition: .55s ease-out;

                &:hover {
                    transition: .55s ease-in;
                    color: #fff;
                    border-bottom: 2px solid var(--cor-01-r);
                }
            }

            & li a.active {
                color: #fff;
                border-bottom: 2px solid var(--cor-01-r);
            }
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #292929 inset !important;
    -webkit-text-fill-color: var(--cor-t-lvl-02) !important;
    transition: background-color 5000s ease-in-out 0s;
}