/* --========================================================================================================-- */
/* --===============                                 Reset CSS                                 ==============-- */
/* --========================================================================================================-- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--cor-t-lvl-01);
}

html,
body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    background-color: #000000;
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 15px;
    border: 3px solid #000000;
    padding: 10px;
}

.cabecalho {
    width: 100%;
    height: 75px;
    position: absolute;

    background: linear-gradient(#000000, #00000000);

    display: flex;
    z-index: 1;


    & .c-content {
        width: 65%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: 100px;
        padding-left: 25px;
        gap: 45px;


        & img {
            width: 280px;
            height: auto;

            margin-top: 5px;

            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.589)), saturate(1.5);
        }


        & .nav-bar {
            width: 60%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;


            & ul {
                width: 100%;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2.5px;

                & li a {
                    height: 38px;
                    padding: 10px 18px 10px 18px;
                    color: var(--cor-t-lvl-02);
                    font-size: 11.5pt;
                    font-weight: 500;
                    text-shadow: 0 0 10px rgb(0, 0, 0);
                    transition: all .35s ease-out;

                    &:hover {
                        background-color: var(--cor-01-r);
                        color: #000000;
                        transition: all .35s ease-in;
                        text-shadow: none;
                    }
                }

                & .pesquisa {
                    width: 45%;
                    height: 50px;
                    display: grid;
                    grid-template-columns: 19% 100%;
                    padding: 0 0.4rem;
                    position: relative;
                    transition: all .55s ease;
                    border-bottom: 1.5px solid var(--cor-t-lvl-02);

                    & .search {
                        width: 82%;
                        height: 100%;
                        background: none;
                        outline: none;
                        border: none;
                        color: var(--cor-t-lvl-02);
                        font-weight: 400;
                        font-size: 11.5pt;
                    }

                    & i {
                        text-align: center;
                        line-height: 50px;
                        color: var(--cor-t-lvl-02);
                        transition: 0.5s;
                        font-size: 1rem;
                        text-shadow: 0 0 5px rgba(28, 30, 31, 0);
                    }

                    & .search::placeholder {
                        color: var(--cor-t-lvl-02);
                        font-weight: 500;
                        font-size: 11.5pt;
                        text-shadow: 0 0 10px black;
                    }

                    & .search::-webkit-search-cancel-button {
                        -webkit-appearance: none;
                        height: 1em;
                        width: 1em;
                        border-radius: 50em;
                        background: url(../../Images/xmark-solid.svg) no-repeat 50% 50%;
                        background-size: contain;
                        margin-left: 5px;
                        opacity: 0.7;
                        cursor: pointer;
                        filter: invert(1);
                    }

                    & .search::-webkit-search-results-button {
                        background: transparent;
                    }
                }
            }
        }
    }

    & .c-login {
        width: 15%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: 105px;

        & a {
            width: 50%;
            height: 38px;

            padding: 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: 500;

            color: black;
            background-color: var(--cor-01-r);

            transition: all .45s ease-out;

            &:hover {
                box-shadow: 0 0 15px #cc01ff;
                transition: all .35s ease-in;
            }
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #292929 inset !important;
    -webkit-text-fill-color: var(--cor-t-lvl-02) !important;
    transition: background-color 5000s ease-in-out 0s;
}