/* Cards & Conteudo Principal */
.albuns-populares {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.albuns-populares .cards {
    width: 96%;
    height: 350px;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.albuns-populares .cards .c-img{
    width: 210px;
    height: 335px;
    background-color: rgb(34, 34, 34);
    border-radius: 7px;
}

.albuns-populares .cards img{
    width: 210px;
    height: 280px;
    border-radius: 7px;
}

.albuns-populares .cards .b-box{
    width: 210px;
    height: 280px;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    border-radius: 7px;
}

.albuns-populares .cards .b-box .b-fade{
    width: 210px;
    height: 280px;
    position: absolute;
    z-index: 100;
    background: linear-gradient(rgba(0,0,0,0), rgb(0,0,0,0.7));
    border-radius: 7px;
}

.albuns-populares .cards .c-title{
    font-size: 13pt;
    font-weight: 600;
    text-align: center;
}

.albuns-populares .cards .c-artista{
    font-size: 9pt;
    font-weight: 400;
    text-align: center;
    color: #cecece;
}