* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--cor-t-lvl-01);
}

html,
body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    background: linear-gradient(#1C1E1F, #051119) no-repeat;
    background-size: cover;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
