/* Cores */
:root {
    --cor-principal: #CC01FF;
    --cor-fundo: #051119;
}

/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Aba-lateral */
.page .aba-lateral {
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    background-color: #181818;
}

.page .aba-lateral .logo-quad {
    width: 96%;
    height: 90px;
    border-radius: 7px;
    margin-top: 15px;
    display: flex;
    justify-content: start;
    background-color: rgb(34, 34, 34);
}

.page .aba-lateral .logo-quad .logo {
    width: 190px;
    height: 100px;
}

.page .aba-lateral .c1-quad {
    width: 96%;
    height: 500px;
    border-radius: 7px;
    background-color: rgb(34, 34, 34);
}

.page .aba-lateral .c2-quad {
    width: 96%;
    height: 250px;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: rgb(34, 34, 34);
}

/* Página-Principal */
/* Texto de Bem-vindo */
.right-page {
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.welcome {
    width: 95%;
    height: 120px;
    display: flex;
    margin-left: 55px;
    align-items: center;
}

.welcome .text-welc {
    font-size: 12.5pt;
    font-weight: 500;
}

.albuns-populares {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.albuns-populares .cards {
    width: 96%;
    height: 350px;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: rgb(8, 8, 8);
}