/* --========================================================================================================-- */
/* Cores */
:root {
    --cor-01-r: #CC01FF;
    --cor-02-f1: #181818;
    --cor-03-f2: rgb(34, 34, 34);
    --cor-04-f3: #222222;
    --cor-t-lvl-01: #FBFDFF;
    --cor-t-lvl-02: #cecece;
    --cor-fundo: linear-gradient(#1C1E1F, #051119);
}

/* --========================================================================================================-- */