/* --========================================================================================================-- */
/* --===============                             Aba de Favoritos                              ==============-- */
/* --========================================================================================================-- */

/* --========================================================================================================-- */

/* --========================================================================================================-- */
/* Cabeçalho */
.pesquisa {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .input-field {
        width: 95%;
        background: linear-gradient(rgba(12, 12, 12, 0.67), rgba(12, 12, 12, 0.2));
        margin: 10px 0;
        height: 50px;
        border-radius: 55px;
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 0 0.4rem;
        position: relative;
        transition: all .55s ease;
        border: 2px solid rgb(31, 31, 31);
        margin-left: 55px;

        & i {
            text-align: center;
            line-height: 50px;
            color: #fafafa;
            transition: 0.5s;
            font-size: 1.2rem;
            text-shadow: 0 0 5px rgba(28, 30, 31, 0);
        }

        & .search-bar {
            background: none;
            outline: none;
            border: none;
            color: #fafafa;
            font-weight: 500;
            font-size: 12pt;

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                height: 1em;
                width: 1em;
                border-radius: 50em;
                background: url(../Images/xmark-solid.svg) no-repeat 50% 50%;
                background-size: contain;
                margin-right: 20px;
                opacity: 0.7;
                cursor: pointer;
                filter: invert(1);
            }

            ::-webkit-search-results-button {
                background: transparent;
            }

            &::placeholder {
                color: #f0f0f0;
                font-weight: 500;
                font-size: 12pt;
                text-shadow: 0 0 10px black;
            }
        }
    }
}

/* --========================================================================================================-- */
/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 90px;
}

/* --========================================================================================================-- */
/* Conteudo Principal */
/* --========================================================================================================-- */
/* Barra de Pesquisa */
.search {
    width: 1000px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 155px;
}

.input-field {
    max-width: 850px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.07);
    margin: 10px 0;
    height: 55px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    transition: all .55s ease;

    &:hover {
        transform: scale(1.01);
        transition: all .55s ease;
    }

    & i {
        text-align: center;
        line-height: 55px;
        color: #cecece;
        transition: 0.5s;
        font-size: 1.1rem;
        text-shadow: 0 0 5px rgba(28, 30, 31, 0.2);
    }

    & .search-bar {
        background: none;
        outline: none;
        border: none;
        color: #999999;
        font-weight: 500;
        font-size: 12pt;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 1em;
            width: 1em;
            border-radius: 50em;
            background: url(../Images/xmark-solid.svg) no-repeat 50% 50%;
            background-size: contain;
            margin-right: 20px;
            opacity: 0.7;
            cursor: pointer;
            filter: invert(1);
        }

        ::-webkit-search-results-button {
            background: transparent;
        }

        &::placeholder {
            color: #aaa;
            font-weight: 500;
            font-size: 12pt;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #292929 inset !important;
    -webkit-text-fill-color: var(--cor-t-lvl-02) !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* Cards */
.favoritos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .title-s {
        width: 1000px;
        height: 100%;
        font-size: 17px;
        font-weight: bold;
        margin-left: 10px;
    }

    & .cards {
        width: 1225px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        flex-wrap: wrap;

        & .c-img {
            width: 170px;
            height: 265px;
            border-radius: 8px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .35s ease-out;

            &:hover {
                transform: scale(1.02);
                transition: all .35s ease-in;
                background-color: rgba(255, 255, 255, 0.05);
            }
        }

        & img {
            width: 150px;
            height: 170px;
            border-radius: 7px;
            box-shadow: 0 0 15px black;
        }

        & .text {
            width: 180px;
            height: 45px;
            border-radius: 4px;
        }

        & .c-title {
            font-size: 11.25pt;
            font-weight: 700;
            text-align: center;
            margin-top: 4.5px;
        }

        & .c-artista {
            font-size: 9.9pt;
            font-weight: 400;
            text-align: center;
            color: var(--cor-t-lvl-02);
        }

        & .c-designation {
            font-size: 9pt;
            font-weight: 500;
            text-align: center;
            color: transparent;
        }
    }
}

/* --========================================================================================================-- */