/* --========================================================================================================-- */
/* --===============                                 Reset CSS                                 ==============-- */
/* --========================================================================================================-- */

/* --========================================================================================================-- */

/* --========================================================================================================-- */
/* --===============                             Página de Álbum                               ==============-- */
/* --========================================================================================================-- */
/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* --========================================================================================================-- */
/* Conteúdo principal */
/* Parte visual do Álbum */
.v-song {
    max-width: 1100px;
    width: 80%;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;

    /* --========================================================================================================-- */
    & .song {
        width: 250px;
        height: auto;
        border-radius: 7px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.541);
        transition: all .35s ease-in;
        filter: saturate(2);

        /* --========================================================================================================-- */
        &:hover {
            transform: scale(1.025);
            transition: all .35s ease-out;
        }
    }

    /* --========================================================================================================-- */
    & .infos {
        max-width: 750px;
        min-width: 450px;
        height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        padding-left: 50px;
        z-index: 10;

        & .duracao {
            width: 102px;
            height: 37px;

            display: flex;
            justify-content: center;
            align-items: center;

            gap: 10px;
            margin-top: 10px;
            border-radius: 10px;
            background-color: #161616;

            & .icon-t {
                color: #cc01ff;
                font-size: 13pt;
            }

            & .tempo {
                color: #b1b1b1;
                cursor: default;
                transition: all .35s ease-out;
            }

            &:hover .tempo {
                color: #f1f1f1;
                text-decoration: underline;
                transition: all .35s ease-in;
            }
        }

        /* --========================================================================================================-- */
        & .categoria {
            font-size: 15px;
            font-weight: 600;
            color: var(--cor-t-lvl-02);
            cursor: default;
        }

        /* --========================================================================================================-- */
        & .n-song {
            width: 100%;
            height: auto;
            font-size: 60px;
            color: var(--cor-t-lvl-01);
            cursor: default;
            overflow: hidden;
            white-space: nowrap;
        }

        /* --========================================================================================================-- */
        & .n-artist {
            font-size: 16.5px;
            font-weight: 500;
            color: #a0a0a0;
            cursor: default;
        }
    }
}

.hr {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 0 25px 0;

    & .line {
        width: 40%;
        height: .25px;
        background-color: #a0a0a059;
        border-radius: 10px;
    }
}

/* --========================================================================================================-- */
/* Informações: créditos, gênero musical e plataformas */
.informations {
    width: 100%;
    max-width: 1000px;
    height: auto;
    background-color: #161616;
    border-radius: 5px;
    padding: 30px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & .f-content {
        width: 47%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        & .credits,
        .classification {
            width: 100%;
            max-width: 400px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 5px;

            & .title-c,
            .title-cl {
                color: #cacaca;
                font-size: 11.5pt;
            }

            & .c-credit,
            .s-musical {
                color: #a0a0a0;
                font-size: 11pt;
            }
        }
    }

    & .s-content {
        width: 47%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        & ul {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 45px;
            gap: 1.5px;

            & li a {
                width: 50px;
                height: 50px;
                padding: 20px;

                & i {
                    width: 60px;
                    height: 60px;
                    font-size: 21pt;
                    background-color: #000000;
                    border: .5px solid #202020;
                    box-shadow: 0 0 10px #161616;

                    border-radius: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .35s ease-out;
                    color: #cacaca;
                }

                &:hover i {
                    transition: all .35s ease-in;
                }

                &:hover .icon-s {
                    color: #09ff00;
                    text-shadow: 0 0 10px #09ff00a8;
                }

                &:hover .icon-y {
                    color: #ff0000;
                    text-shadow: 0 0 10px #ff00007e;
                }

                &:hover .icon-a {
                    color: #ffffff;
                    text-shadow: 0 0 10px #ffffff80;
                }
            }
        }
    }
}

.hr-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 0 25px 0;
    margin-top: 25px;

    & .line {
        width: 40%;
        height: .25px;
        background-color: #a0a0a059;
        border-radius: 10px;
    }
}

/* --========================================================================================================-- */
/* Comentários */
.criticas-mais-vistas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 55px;
    padding-bottom: 35px;

    & .superior {
        width: 1100px;
        height: 50px;

        & .title {
            font-size: 17px;
            margin-bottom: 5px;
        }

        & .line {
            width: 1100px;
            height: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #2c2c2c;
        }
    }

    & .exibicao-c {
        width: 1125px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & .comentario {
            width: 100%;
            height: 245px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: #1d1d1d0d;
            box-shadow: 0 7px 20px rgba(3, 3, 3, 0.3);
            border-radius: 6px;
            border-bottom: 1px solid rgb(36, 36, 36);

            & .referencia {
                width: 200px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all .35s ease-out;
                gap: 7px;

                & img {
                    width: 155px;
                    height: 155px;
                    border-radius: 5px;
                    box-shadow: 0 0 10px black;
                    transition: all .35s ease-out;
                }

                & .text {
                    width: 153px;
                    height: auto;
                    border-radius: 6.3px;
                }
    
                & .c-title {
                    font-size: 12pt;
                    font-weight: 700;
                    color: #e9e9e9;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
    
                & .c-artist {
                    font-size: 10pt;
                    font-weight: 500;
                    color: #a3a3a3;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                & .c-designation {
                    font-size: 8.7pt;
                    font-weight: 500;
                    color: #888888;
                    transition: .25s ease-out;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                    border-radius: 5px;
                    transition: all .35s ease-in;
                }

                &:hover img {
                    transform: scale(1.02);
                    transition: all .35s ease-in;
                }
            }

            & .exibicao-u {
                width: 900px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 15px;
                transition: all .35s ease-out;

                & .user {
                    width: 825px;
                    height: auto;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 15px;

                    & img {
                        width: 55px;
                        height: 55px;
                        border-radius: 100%;
                    }

                    & .name {
                        font-size: 12.5pt;
                        transition: all .55s ease-out;

                        &:hover {
                            text-decoration: underline;
                            transition: all .55s ease-in;
                        }
                    }
                }

                & .critica {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & p {
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10.5pt;
                        transition: all .35s ease-out;
                        color: rgb(177, 177, 177);
                        text-align: start;
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                    border-radius: 5px;
                    transition: all .35s ease-in;
                }

                &:hover .critica p {
                    color: var(--cor-t-lvl-01);
                    transition: all .35s ease-in;
                }
            }
        }
    }
}

/* --========================================================================================================-- */
/* --=====================           Parece que chegou ao fim não esquece o ;           =====================-- */
/* --========================================================================================================-- */