/* --========================================================================================================-- */
/* --===============                             Página de Início                              ==============-- */
/* --========================================================================================================-- */

/* --========================================================================================================-- */
/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 120px;
}

/* Inicio da página */
.inicio {
    width: 100%;
    max-width: 1250px;
    height: 695px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    & .banner {
        width: 500px;
        height: auto;

        & img {
            width: auto;
            height: 635px;
            border-radius: 7px;
            box-shadow: 0 0 50px #000000;
            filter: brightness(70%);
            filter: saturate(2);
        }
    }

    & .content {
        width: 650px;
        height: auto;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & img {
            width: 590px;
            height: auto;
            filter: drop-shadow(0 0 50px rgb(0, 0, 0));
        }

        & .textos {
            width: 100%;
            height: 35px;

            & h1 {
                padding-left: 25px;
                font-size: 21px;
                font-weight: 600;
                text-shadow: 0 0 10px black;
            }

            & h2 {
                padding-left: 25px;
                font-size: 20px;
                font-weight: 500;
                color: var(--cor-t-lvl-02);
                text-shadow: 0 0 10px var(--cor-04-f3);
            }
        }

        & .cards {
            width: 670px;
            height: 290px;
            display: flex;
            align-items: center;
            gap: 2.5px;
            padding-left: 10px;
            gap: 0px;

            & .c-img {
                width: 192px;
                height: 250px;
                border-radius: 6.3px;
                transition: .25s;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all .15s ease-out;
                gap: 3px;

                &:hover {
                    background: rgba(0, 0, 0, 0.274);
                    transform: scale(1.02);
                    transition: all .15s ease-in;
                }

                & img {
                    width: 165px;
                    height: 165px;
                    border-radius: 7px;
                    box-shadow: 0 0 15px black;
                    filter: saturate(2);
                }

                & .text {
                    width: 153px;
                    height: auto;
                    border-radius: 6.3px;
                }

                & .c-title {
                    font-size: 12pt;
                    font-weight: 500;
                    color: var(--cor-t-lvl-01);
                    margin-top: 4.5px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                & .c-designation {
                    font-size: 9.7pt;
                    font-weight: 500;
                    color: var(--cor-t-lvl-02);
                    transition: .25s ease-out;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                &:hover .c-designation {
                    color: var(--cor-01-r);
                    transition: .25s ease-in;
                }
            }
        }
    }
}

/* Cards & Conteudo Principal */
.mais-populares {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .title {
        width: 1200px;
        height: 13.5px;
        display: flex;
        align-items: center;
        margin-left: 22.5px;
        font-size: 18.1px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    & .cards {
        width: 1250px;
        height: 345px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 7px;
        background-color: #1c262c99;
        box-shadow: 0 0 15px black;

        & .c-img {
            width: 243px;
            height: 335px;
            border-radius: 6.3px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .25s ease-out;
            gap: 12px;

            &:hover {
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.075));
                transform: scale(1.02);
                transition: all .25s ease-in;
            }

            & img {
                width: 205px;
                height: 205px;
                border-radius: 3px;
                box-shadow: 0 0 15px black;
                filter: saturate(2);
            }

            & .text {
                width: 229.5px;
                height: 45px;
                border-radius: 6.3px;
                padding-left: 25px;
            }

            & .c-title {
                font-size: 12.7pt;
                font-weight: 600;
                color: var(--cor-t-lvl-02);
                margin-top: 4.5px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            & .c-designation {
                font-size: 9.5pt;
                font-weight: 500;
                color: var(--cor-t-lvl-02);
                transition: .25s ease-out;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &:hover .c-designation {
                color: var(--cor-01-r);
                transition: .25s ease-in;
            }
        }
    }
}

/* Mais cards */
.mais-musicas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .superiores {
        width: 1225px;
        height: 10.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18.1px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    & .title-s {
        font-size: 17px;
        font-weight: bold;
        margin-left: 10px;
    }

    & .see-more {
        font-size: 11.5pt;
        text-decoration: underline;
        cursor: pointer;
        color: #b4b4b4;
        transition: all .55s ease-out;

        &:hover {
            transform: scale(0.98);
            color: #FBFDFF;
            transition: all .55s ease-in;
        }
    }

    & .cards {
        width: 1250px;
        height: 265px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5px;
        border-radius: 7px;
        background-color: #1c262c99;
        box-shadow: 0 0 15px black;

        & .c-img {
            width: 175px;
            height: 205.5px;
            border-radius: 8px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-out;

            &:hover {
                background-color: rgba(255, 255, 255, 0.233);
                transform: scale(1.02);
                transition: all .3s ease-in;
            }

            & img {
                width: 166px;
                height: 193.5px;
                border-radius: 7px;
                box-shadow: 0 0 10px black;
                filter: saturate(2);
            }
        }
    }
}

/* Comentários */
.criticas-mais-vistas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    & .superior {
        width: 1100px;
        height: 50px;

        & .title {
            font-size: 17px;
            margin-bottom: 15px;
        }

        & .line {
            width: 1100px;
            height: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--cor-t-lvl-01);
        }
    }

    & .exibicao-c {
        width: 1125px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & .comentario {
            width: 100%;
            height: 265px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: rgba(29, 29, 29, 0.05);
            box-shadow: 0 7px 20px rgba(3, 3, 3, 0.3);
            border-radius: 6px;
            border-bottom: 1px solid rgb(36, 36, 36);

            & .referencia {
                width: 200px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all .35s ease-out;
                gap: 7px;

                & img {
                    width: 150px;
                    height: auto;
                    border-radius: 3px;
                    box-shadow: 0 0 10px black;
                    transition: all .35s ease-out;
                    filter: saturate(2);
                }

                & .music-album {
                    text-align: center;
                    color: #B5B5B5;
                    font-size: 10.5pt;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                    border-radius: 5px;
                    transition: all .35s ease-in;
                }

                &:hover img {
                    transform: scale(1.05);
                    transition: all .35s ease-in;
                }
            }

            & .exibicao-u {
                width: 900px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 15px;
                transition: all .35s ease-out;

                & .user {
                    width: 825px;
                    height: auto;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 15px;

                    & img {
                        width: 55px;
                        height: 55px;
                        border-radius: 100%;
                        filter: saturate(2);
                    }

                    & .name {
                        font-size: 12.5pt;
                        transition: all .55s ease-out;

                        &:hover {
                            text-decoration: underline;
                            transition: all .55s ease-in;
                        }
                    }
                }

                & .critica {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & p {
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10.5pt;
                        transition: all .35s ease-out;
                        color: rgb(177, 177, 177);
                        text-align: start;
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                    border-radius: 5px;
                    transition: all .35s ease-in;
                }

                &:hover .critica p {
                    color: var(--cor-t-lvl-01);
                    transition: all .35s ease-in;
                }
            }
        }
    }

    & .ver-mais {
        width: 1100px;
        height: 45px;
        display: flex;
        justify-content: end;
        align-items: start;
        margin-top: 10px;

        & h2 {
            font-size: 9.5pt;
            text-decoration: underline;
            cursor: pointer;
            color: #9e9e9e;
            transition: all .55s ease-out;

            &:hover {
                transform: scale(0.98);
                color: #FBFDFF;
                transition: all .55s ease-in;
            }
        }
    }
}

/* --========================================================================================================-- */