/* --========================================================================================================-- */
/* --===============                                 Reset CSS                                 ==============-- */
/* --========================================================================================================-- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--cor-t-lvl-01);
}

html,
body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    background: linear-gradient(#cc01ffb7 0%, #1c1e1f 35%, #1c1e1f 75%, #051119 100%) no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* --========================================================================================================-- */
/* --===============                             Página de Música                              ==============-- */
/* --========================================================================================================-- */

/* --========================================================================================================-- */
/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-02-f1);
    border-radius: 15px;
    border: 3px solid transparent;
}

/* --========================================================================================================-- */
/* Botão de voltar pro início da página */
.b-voltar {
    width: 40px;
    height: 40px;
    position: fixed;
    border-radius: 100%;
    display: block;
    right: 35px;
    bottom: 35px;
    background-color: var(--cor-01-r);
    box-shadow: 0 2px 5px black;
    transition: all .55s ease-out;
    z-index: 1000;

    & a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 16px;
            height: 20px;
        }
    }

    &:hover {
        transform: scale(1.07);
        transition: all .55s ease-in;
    }
}

/* Botão de Voltar para a Página Inicial */
.btn-home {
    position: fixed;
    z-index: 10000;
    width: 50px;
    height: 50px;
    display: block;
    top: 20px;
    left: 20px;
    background-color: #00000067;
    box-shadow: 0 2px 5px black;
    border-radius: 30px;

    & a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 16px;
            height: 20px;
            filter: invert(0.8);
            transition: all .3s ease-out;
        }

        &:hover img {
            filter: invert(1);
            transition: all .3s ease-in;
        }
    }
}

/* Botões de Scrollagem */
.btn-scroll {
    position: fixed;
    z-index: 10000;
    width: 60px;
    height: 135px;
    display: block;
    top: 40%;
    left: 20px;
    background-color: #00000067;
    box-shadow: 0 2px 5px black;
    border-radius: 7px;

    & ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        & li a img {
            width: 25px;
            height: 25px;
            filter: invert(0.8);
            transition: all .3s ease-out;

            &:hover {
                filter: invert(1);
                transform: scale(1.04);
                transition: all .3s ease-in;
            }
        }
    }
}

/* --========================================================================================================-- */
/* Cabeçalho */
.cabecalho {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    gap: 25px;
    background: linear-gradient(rgba(28, 30, 31, 0.7), rgba(28, 30, 31, 0));

    & .logo {
        width: 198px;
        height: auto;
    }

    & nav {
        width: 400px;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;

        & ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & li a {
                color: #cecece;
                font-size: 13.5px;
                text-transform: uppercase;
                font-weight: 700;
                border-bottom: 2px solid transparent;
                transition: all .55s ease-out;
                text-shadow: 0 2px 4px rgba(28, 30, 31, 0.5);

                &:hover {
                    color: var(--cor-t-lvl-01);
                    border-bottom: 2px solid var(--cor-t-lvl-01);
                    transition: all .55s ease-in;
                }
            }
        }
    }
}

/* --========================================================================================================-- */
/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* Conteúdo principal */
/* Parte visual da música */
.v-perfil {
    width: 1100px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 155px;

    & .perfil {
        width: 400px;
        height: 400px;
        border-radius: 15px;
        box-shadow: 0 0 100px #000000;
    }

    & .infos {
        width: 500px;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        & .names {
            width: 100%;
            height: 20px;
            display: flex;
            padding-left: 90px;
            gap: 7px;

            & .n-perfil {
                font-size: 22.5px;
                color: var(--cor-t-lvl-01);
                cursor: default;
            }

            & .data {
                font-size: 16px;
                padding-top: 6px;
                color: #aaa;
                cursor: default;
            }
        }

        & .username {
            width: 100%;
            height: auto;
            display: flex;
            font-size: 15px;
            padding-left: 90px;
            color: var(--cor-t-lvl-02);
            text-decoration: underline;
            cursor: default;
        }

        & .categorias {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: column;
            padding-left: 90px;
            padding-top: 15px;
            gap: 7px;

            & h2 {
                font-size: 18.5px;
                color: var(--cor-t-lvl-01);
                cursor: default;
            }

            & .c-btn {
                width: 100%;
                height: auto;

                & button {
                    width: 130px;
                    height: 25px;
                    border-radius: 4px;
                    background-color: #282828;
                    color: #a6a6a6;
                    cursor: pointer;
                    transition: all .55s ease-out;

                    &:hover {
                        background-color: #222222;
                        color: #FBFDFF;
                        transition: all .55s ease in;
                    }
                }
            }
        }
    }
}

.perfil-info {
    width: 1100px;
    height: 307px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    & h2 {
        width: 100%;
        height: 20px;
        font-size: 18.5px;
        color: var(--cor-t-lvl-01);
        cursor: default;
        padding-left: 15px;
    }

    & p {
        width: 100%;
        height: auto;
        text-align: start;
        font-size: 16px;
        padding-top: 6px;
        color: var(--cor-t-lvl-02);
        cursor: default;
    }
}

/* --========================================================================================================-- */