/* --========================================================================================================-- */
/* --===============                                 Reset CSS                                 ==============-- */
/* --========================================================================================================-- */

/* --========================================================================================================-- */

/* --========================================================================================================-- */
/* --===============                             Página de Álbum                               ==============-- */
/* --========================================================================================================-- */
/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* --========================================================================================================-- */
/* Conteúdo principal */
/* Parte visual do Álbum */
.v-album {
    max-width: 1100px;
    width: 80%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;

    /* --========================================================================================================-- */
    & .album {
        width: 270px;
        height: auto;
        border-radius: 7px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.541);
        transition: all .35s ease-in;
        filter: saturate(2);

        /* --========================================================================================================-- */
        &:hover {
            transform: scale(1.025);
            transition: all .35s ease-out;
        }
    }

    /* --========================================================================================================-- */
    & .infos {
        max-width: 750px;
        min-width: 750px;
        height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        padding-left: 50px;
        z-index: 10;

        & .plataformas {
            width: auto;
            height: auto;
            display: flex;
            position: absolute;
            gap: 2px;
            top: 25%;
            right: 22%;

            & .p {
                width: 42px;
                height: 42px;
                border-radius: 2px;

                display: flex;
                justify-content: center;
                align-items: center;

                background: #0f0f0f;
                box-shadow: 0 0 5px #0000006c;
                border: .5px solid #3b3b3b;
                transition: all .3s ease-out;

                &:hover {
                    background-color: #000000;
                    transition: all .3s ease-in;
                }
            }

            & .p:hover .i-spotify {
                color: #00f100;
                text-shadow: 0 0 10px #019201;
                transition: all .3s ease-in;
            }

            & .p:hover .i-youtube {
                color: #f10000;
                text-shadow: 0 0 10px #920101;
                transition: all .3s ease-in;
            }

            & .p:hover .i-apple {
                color: #ffffff;
                text-shadow: 0 0 10px #d6d6d6;
                transition: all .3s ease-in;
            }

            & i {
                color: #989898;
                font-size: 17pt;
                transition: all .3s ease-out;
            }
        }

        /* --========================================================================================================-- */
        & .categoria {
            font-size: 17px;
            font-weight: 600;
            color: var(--cor-t-lvl-02);
            cursor: default;
        }

        /* --========================================================================================================-- */
        & .n-album {
            width: 100%;
            height: auto;
            font-size: 60px;
            color: var(--cor-t-lvl-01);
            cursor: default;
            overflow: hidden;
            white-space: nowrap;
        }

        /* --========================================================================================================-- */
        & .n-artist {
            font-size: 17px;
            font-weight: 600;
            color: #a0a0a0;
            cursor: default;
        }
    }
}


/* --========================================================================================================-- */


.curiosidade {
    width: 60%;
    height: 100%;
    padding: 30px 0 30px 0;

    /* --========================================================================================================-- */
    & h2 {
        width: 100%;
        height: 20px;
        font-size: 18.5px;
        color: var(--cor-t-lvl-01);
        cursor: default;
    }

    /* --========================================================================================================-- */
    & p {
        width: 80%;
        height: auto;
        text-align: start;
        font-size: 16px;
        margin-top: 16px;
        color: var(--cor-t-lvl-02);
        cursor: default;
    }
}


/* --========================================================================================================-- */
/* Músicas que fazem parte do Álbum */
.musics {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;
    padding-bottom: 30px;

    /* --========================================================================================================-- */
    & h2 {
        width: 100%;
        height: 20px;
        font-size: 18.5px;
        color: var(--cor-t-lvl-01);
        cursor: default;
    }

    /* --========================================================================================================-- */
    & .musicas {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;

        /* --========================================================================================================-- */
        & .conteudo {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 20px;
            gap: 5px;

            & a {
                width: 535px;
                background-color: #4b4b4b49;
                height: 60px;
                border-radius: 3px;
                display: flex;
                justify-content: space-between;
                padding-left: 20px;
                align-items: center;
                transition: all .35s ease-out;

                &:hover {
                    background-color: #3a3a3a8a;
                    transition: all .25s ease-in;
                }

                & .icon {
                    width:130px;
                    height: 50px;
                    background-color: #53535349;
                    font-size: 26pt;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    margin-right: 5px;
                    opacity: 1;
                    color: #1a1a1a;
                    transition: all .35s ease-out;
                }

                .n-music {
                    transition: all .35s ease-out;
                }

                &:hover .n-music {
                    color: #cacaca;
                    transition: all .35s ease-in;
                }
            }
        }
    }
}

/* --========================================================================================================-- */
/* Comentários */
.criticas-mais-vistas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 55px;

    & .superior {
        width: 1100px;
        height: 50px;

        & .title {
            font-size: 17px;
            margin-bottom: 15px;
        }

        & .line {
            width: 1100px;
            height: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--cor-t-lvl-01);
        }
    }

    & .exibicao-c {
        width: 1125px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & .comentario {
            width: 100%;
            height: 265px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: rgba(29, 29, 29, 0.05);
            box-shadow: 0 7px 20px rgba(3, 3, 3, 0.3);
            border-radius: 6px;
            border-bottom: 1px solid rgb(36, 36, 36);

            & .referencia {
                width: 200px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all .35s ease-out;
                gap: 7px;

                & img {
                    width: 150px;
                    height: auto;
                    border-radius: 3px;
                    box-shadow: 0 0 10px black;
                    transition: all .35s ease-out;
                }

                & .music-album {
                    text-align: center;
                    color: #B5B5B5;
                    font-size: 10.5pt;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                    border-radius: 5px;
                    transition: all .35s ease-in;
                }

                &:hover img {
                    transform: scale(1.05);
                    transition: all .35s ease-in;
                }
            }

            & .exibicao-u {
                width: 900px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 15px;
                transition: all .35s ease-out;

                & .user {
                    width: 825px;
                    height: auto;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 15px;

                    & img {
                        width: 55px;
                        height: 55px;
                        border-radius: 100%;
                    }

                    & .name {
                        font-size: 12.5pt;
                        transition: all .55s ease-out;

                        &:hover {
                            text-decoration: underline;
                            transition: all .55s ease-in;
                        }
                    }
                }

                & .critica {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & p {
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10.5pt;
                        transition: all .35s ease-out;
                        color: rgb(177, 177, 177);
                        text-align: start;
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                    border-radius: 5px;
                    transition: all .35s ease-in;
                }

                &:hover .critica p {
                    color: var(--cor-t-lvl-01);
                    transition: all .35s ease-in;
                }
            }
        }
    }

    & .ver-mais {
        width: 1100px;
        height: 45px;
        display: flex;
        justify-content: end;
        align-items: start;
        margin-top: 10px;

        & h2 {
            font-size: 9.5pt;
            text-decoration: underline;
            cursor: pointer;
            color: #9e9e9e;
            transition: all .55s ease-out;

            &:hover {
                transform: scale(0.98);
                color: #FBFDFF;
                transition: all .55s ease-in;
            }
        }
    }
}

/* --========================================================================================================-- */
/* --=====================           Parece que chegou ao fim não esquece o ;           =====================-- */
/* --========================================================================================================-- */