/* --========================================================================================================-- */
/* --===============                             Página de Início                              ==============-- */
/* --========================================================================================================-- */

/* --========================================================================================================-- */
/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

/* Inicio da página */
.inicio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    & .banner {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }
}

.line-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    padding: 0 0 0 55px;

    & .hr-1 {
        width: 45%;
        height: .5px;
        background-color: #616161;
    }
}

/* Apresentação do site */
.sobre {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 4px;

    & .b-content {
        width: 29%;
        height: 210px;

        background-color: #1a1a1a;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 10px;
        gap: 25px;

        cursor: default;

        & i {
            font-size: 32pt;
            opacity: .8;
            color: #cecece;
            transition: all .5s ease-out;
        }

        & hr {
            width: 1px;
            height: 75%;
            background-color: #616161;
        }

        & .b-text {
            width: 60%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;

            & h1 {
                font-size: 19px;
                color: var(--cor-t-lvl-01);
                font-weight: 600;
            }

            & p {
                font-size: 16px;
                color: var(--cor-t-lvl-02);
                font-weight: 400;
            }
        }

        &:hover .icon-a {
            opacity: 1;
            color: #cc01ff;
            text-shadow: 0 0 10px #740091;
            transition: all .3s ease-in;
        }

        &:hover .icon-b {
            opacity: 1;
            color: #cc01ff;
            text-shadow: 0 0 10px #740091;
            transition: all .3s ease-in;
        }

        &:hover .icon-c {
            opacity: 1;
            color: #cc01ff;
            text-shadow: 0 0 10px #740091;
            transition: all .3s ease-in;
        }
    }
}

.line-2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 0 55px 0;

    & .hr-2 {
        width: 75%;
        height: .5px;
        background-color: #616161;
    }
}

.pop-songs,
.rest-songs {
    width: 100%;
    max-width: 1500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    & .title {
        width: 80%;
        height: 20px;
        font-size: 19px;
        color: var(--cor-t-lvl-01);
        font-weight: 600;
        margin-left: 65px;
    }

    & .pop-cards,
    .rest-cards {
        width: 100%;
        height: 430px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.5px;
        transition: transform 0.5s ease;

        & .card {
            width: 275px;
            height: 390px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #1a1a1a;

            & .visual {
                width: 100%;
                height: 255px;
                display: flex;
                justify-content: center;
                align-items: center;

                & .capa {
                    width: 210px;
                    height: 210px;
                    border-radius: 7px;
                    box-shadow: 0 0 15px #0000006c;
                    filter: saturate(1.5);
                }

                & .icon-b {
                    position: absolute;
                    margin-left: 180px;
                    margin-top: 180px;

                    & i {
                        color: #f0f0f0;
                        font-size: 40pt;
                        text-shadow: 0 0 10px #8686866b;
                        background-color: #000000;
                        border-radius: 50%;
                        transition: all .3s ease-out;

                        &:hover {
                            color: #cc01ff;
                            text-shadow: 0 0 10px #a900d3;
                            transition: all .3s ease-in;
                        }
                    }
                }
            }

            & .infos {
                width: 100%;
                height: 85px;
                padding: 0 0 0 35px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                padding-bottom: 10px;

                .infos h1,
                .infos h2,
                .infos p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    cursor: default;
                }

                & h1 {
                    font-size: 18.5px;
                    color: var(--cor-t-lvl-01);
                    font-weight: 600;
                    width: 205px;
                }

                & h2 {
                    font-size: 15.5px;
                    font-weight: 400;
                    color: #b1b1b1;
                    width: 205px;
                }

                & p {
                    font-size: 14.5px;
                    font-weight: 400;
                    color: #6e6e6e;
                    width: 205px;
                }
            }

            & .line-c {
                width: 200px;
                height: .5px;
                background-color: #61616159;
            }

            & .plataformas {
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-left: 67px;
                gap: 3.5px;

                & .p {
                    width: 50px;
                    height: 50px;
                    border-radius: 10.5px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background: #131313;
                    border: 1px solid #2c2c2c;
                    box-shadow: 0 0 5px #0000006c;
                }

                & .p:hover .i-spotify {
                    color: #00f100;
                    text-shadow: 0 0 10px #019201;
                    transition: all .3s ease-in;
                }

                & .p:hover .i-youtube {
                    color: #f10000;
                    text-shadow: 0 0 10px #920101;
                    transition: all .3s ease-in;
                }

                & .p:hover .i-apple {
                    color: #ffffff;
                    text-shadow: 0 0 10px #d6d6d6;
                    transition: all .3s ease-in;
                }

                & .p:hover .i-deezer {
                    color: #cc01ff;
                    text-shadow: 0 0 10px #8900ac;
                    transition: all .3s ease-in;
                }

                & i {
                    color: #868686;
                    font-size: 20pt;
                    transition: all .3s ease-out;
                }
            }

        }
    }

}

/* --========================================================================================================-- */