/* --========================================================================================================-- */
/* --===============                                 Reset CSS                                 ==============-- */
/* --========================================================================================================-- */

/* --========================================================================================================-- */

/* --========================================================================================================-- */
/* --===============                             Página de Álbum                               ==============-- */
/* --========================================================================================================-- */
/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* --========================================================================================================-- */
/* Conteúdo principal */
/* Parte visual do Álbum */
.v-album {
    width: 1100px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.671);

    /* --========================================================================================================-- */
    & .album {
        width: 350px;
        height: auto;
        border-radius: 7px;
        box-shadow: 0 0 60px black;
        transition: all .35s ease-in;
        filter: saturate(2);

        /* --========================================================================================================-- */
        &:hover {
            transform: scale(1.03);
            transition: all .35s ease-out;
        }
    }

    /* --========================================================================================================-- */
    & .infos {
        width: 500px;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

        /* --========================================================================================================-- */
        & .names {
            width: 100%;
            height: 20px;
            display: flex;
            padding-left: 90px;
            gap: 7px;

            /* --========================================================================================================-- */
            & .n-album {
                font-size: 22.5px;
                color: var(--cor-t-lvl-01);
                cursor: default;
            }

            /* --========================================================================================================-- */
            & .n-artist {
                font-size: 16px;
                padding-top: 6px;
                color: #aaa;
                cursor: default;
            }
        }

        /* --========================================================================================================-- */
        & .categorias {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: column;
            padding-left: 90px;
            gap: 7px;

            /* --========================================================================================================-- */
            & h2 {
                font-size: 18.5px;
                color: var(--cor-t-lvl-01);
                cursor: default;
            }

            /* --========================================================================================================-- */
            & .c-btn {
                width: 100%;
                height: auto;

                /* --========================================================================================================-- */
                & button {
                    width: 130px;
                    height: 40px;
                    border-radius: 4px;
                    border-bottom: 2px solid rgb(85, 85, 85);
                    background-color: #0f0f0f69;
                    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.479);
                    color: #a6a6a6;
                    cursor: pointer;
                    transition: all .55s ease-out;

                    /* --========================================================================================================-- */
                    &:hover {
                        background-color: #131313;
                        border-bottom: 2px solid var(--cor-01-r);
                        color: #FBFDFF;
                        transition: all .55s ease in;
                    }
                }
            }
        }

        /* --========================================================================================================-- */
        & .plataformas {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: column;
            padding-left: 90px;
            gap: 7px;

            /* --========================================================================================================-- */
            & h2 {
                font-size: 18.5px;
                color: var(--cor-t-lvl-01);
                cursor: default;
            }

            /* --========================================================================================================-- */
            & .p-btn {
                width: 100%;
                height: auto;

                /* --========================================================================================================-- */
                & button {
                    width: 130px;
                    height: 40px;
                    border-radius: 4px;
                    border-bottom: 2px solid rgb(85, 85, 85);
                    background-color: #0f0f0f69;
                    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.479);
                    cursor: pointer;
                    transition: all .55s ease-out;

                    & a {
                        width: 100%;
                        height: 100%;
                        color: #a6a6a6;
                    }

                    /* --========================================================================================================-- */
                    & i {
                        color: white;
                    }

                    /* --========================================================================================================-- */
                    &:hover {
                        background-color: #131313;
                        border-bottom: 2px solid var(--cor-01-r);
                        color: #FBFDFF;
                        transition: all .55s ease in;
                    }
                }
            }
        }
    }
}

/* --========================================================================================================-- */
/* Informações do Álbum */
.album-info {
    width: 1100px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;

    /* --========================================================================================================-- */
    & h2 {
        width: 100%;
        height: 20px;
        font-size: 18.5px;
        color: var(--cor-t-lvl-01);
        cursor: default;
        padding-left: 15px;
    }

    /* --========================================================================================================-- */
    & p {
        width: 100%;
        height: auto;
        text-align: start;
        font-size: 16px;
        padding-top: 6px;
        color: var(--cor-t-lvl-02);
        cursor: default;
    }
}

/* --========================================================================================================-- */
/* Músicas que fazem parte do Álbum */
.musics {
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(54, 54, 54);
    border-radius: 7px;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 30px;

    /* --========================================================================================================-- */
    & h2 {
        width: 1000px;
        height: 20px;
        font-size: 18.5px;
        color: var(--cor-t-lvl-01);
        cursor: default;
    }

    /* --========================================================================================================-- */
    & .musicas {
        width: 900px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;

        /* --========================================================================================================-- */
        & .conteudo {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 20px;
            gap: 5px;

            & a {
                width: 425px;
                background-color: rgb(75, 75, 75);
                height: 40px;
                border-radius: 3px;
                display: flex;
                justify-content: start;
                padding-left: 20px;
                align-items: center;
                transition: all .35s ease-out;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.541);
                    transition: all .35s ease-in;
                }
            }
        }
    }
}

/* --========================================================================================================-- */
/* Comentários */
.criticas-mais-vistas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;

    & .superior {
        width: 1100px;
        height: 50px;

        & .title {
            font-size: 17px;
            margin-bottom: 15px;
        }

        & .line {
            width: 1100px;
            height: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--cor-t-lvl-01);
        }
    }

    & .exibicao-c {
        width: 1125px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & .comentario {
            width: 100%;
            height: 265px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: rgba(29, 29, 29, 0.05);
            box-shadow: 0 7px 20px rgba(3, 3, 3, 0.3);
            border-radius: 6px;
            border-bottom: 1px solid rgb(36, 36, 36);

            & .referencia {
                width: 200px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all .35s ease-out;
                gap: 7px;

                & img {
                    width: 150px;
                    height: auto;
                    border-radius: 3px;
                    box-shadow: 0 0 10px black;
                    transition: all .35s ease-out;
                }

                & .music-album {
                    text-align: center;
                    color: #B5B5B5;
                    font-size: 10.5pt;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                    border-radius: 5px;
                    transition: all .35s ease-in;
                }

                &:hover img {
                    transform: scale(1.05);
                    transition: all .35s ease-in;
                }
            }

            & .exibicao-u {
                width: 900px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 15px;
                transition: all .35s ease-out;

                & .user {
                    width: 825px;
                    height: auto;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 15px;

                    & img {
                        width: 55px;
                        height: 55px;
                        border-radius: 100%;
                    }

                    & .name {
                        font-size: 12.5pt;
                        transition: all .55s ease-out;

                        &:hover {
                            text-decoration: underline;
                            transition: all .55s ease-in;
                        }
                    }
                }

                & .critica {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & p {
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10.5pt;
                        transition: all .35s ease-out;
                        color: rgb(177, 177, 177);
                        text-align: start;
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                    border-radius: 5px;
                    transition: all .35s ease-in;
                }

                &:hover .critica p {
                    color: var(--cor-t-lvl-01);
                    transition: all .35s ease-in;
                }
            }
        }
    }

    & .ver-mais {
        width: 1100px;
        height: 45px;
        display: flex;
        justify-content: end;
        align-items: start;
        margin-top: 10px;

        & h2 {
            font-size: 9.5pt;
            text-decoration: underline;
            cursor: pointer;
            color: #9e9e9e;
            transition: all .55s ease-out;

            &:hover {
                transform: scale(0.98);
                color: #FBFDFF;
                transition: all .55s ease-in;
            }
        }
    }
}

/* --========================================================================================================-- */
/* --=====================           Parece que chegou ao fim não esquece o ;           =====================-- */
/* --========================================================================================================-- */