* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--cor-t-lvl-01);
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-color: #222222;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
