/* --========================================================================================================-- */
/* --===============                           Aba de Música e Álbum                           ==============-- */
/* --========================================================================================================-- */

/* --========================================================================================================-- */
/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-02-f1);
    border-radius: 15px;
    border: 3px solid transparent;
}

/* --========================================================================================================-- */
/* Botão de voltar pro início da página */
.b-voltar {
    width: 40px;
    height: 40px;
    position: fixed;
    border-radius: 100%;
    display: block;
    right: 35px;
    bottom: 35px;
    background-color: var(--cor-01-r);
    box-shadow: 0 2px 5px black;
    transition: all .55s ease-out;
    z-index: 1000;

    & a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 16px;
            height: 20px;
        }
    }

    &:hover {
        transform: scale(1.07);
        transition: all .55s ease-in;
    }
}

/* --========================================================================================================-- */
/* Cabeçalho */
.cabecalho {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    gap: 25px;
    background: linear-gradient(rgba(28, 30, 31, 0.7), rgba(28, 30, 31, 0));

    & .logo {
        width: 198px;
        height: auto;
    }

    & nav {
        width: 400px;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;

        & ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & li a {
                color: #cecece;
                font-size: 13.5px;
                text-transform: uppercase;
                font-weight: 700;
                border-bottom: 2px solid transparent;
                transition: all .55s ease-out;
                text-shadow: 0 2px 4px rgba(28, 30, 31, 0.5);

                &:hover {
                    color: var(--cor-t-lvl-01);
                    border-bottom: 2px solid var(--cor-t-lvl-01);
                    transition: all .55s ease-in;
                }
            }
        }
    }
}

/* --========================================================================================================-- */
/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 90px;
}

/* --========================================================================================================-- */
/* Conteudo Principal */
/* Barra de Pesquisa */
.search {
    width: 1000px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 155px;
}

.input-field {
    max-width: 850px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.07);
    margin: 10px 0;
    height: 55px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    transition: all .55s ease;

    &:hover {
        transform: scale(1.01);
        transition: all .55s ease;
    }

    & i {
        text-align: center;
        line-height: 55px;
        color: #cecece;
        transition: 0.5s;
        font-size: 1.1rem;
        text-shadow: 0 0 5px rgba(28, 30, 31, 0.2);
    }

    & .search-bar {
        background: none;
        outline: none;
        border: none;
        color: #999999;
        font-weight: 500;
        font-size: 12pt;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 1em;
            width: 1em;
            border-radius: 50em;
            background: url(../Images/xmark-solid.svg) no-repeat 50% 50%;
            background-size: contain;
            margin-right: 20px;
            opacity: 0.7;
            cursor: pointer;
            filter: invert(1);
        }

        ::-webkit-search-results-button {
            background: transparent;
        }

        &::placeholder {
            color: #aaa;
            font-weight: 500;
            font-size: 12pt;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #292929 inset !important;
    -webkit-text-fill-color: var(--cor-t-lvl-02) !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* --========================================================================================================-- */
/* Filtros */
.filter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    & .title-f {
        width: 800px;
        font-size: 17px;
        border-bottom: 1px solid rgba(82, 82, 82, 0.795);
    }

    & .filtering {
        width: 800px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;

        & button {
            width: 130px;
            height: 25px;
            border-radius: 4px;
            background-color: #282828;
            color: #a6a6a6;
            cursor: pointer;
            transition: all .55s ease-out;

            &:hover {
                background-color: #222222;
                color: #FBFDFF;
                transition: all .55s ease in;
            }
        }
    }
}

/* --========================================================================================================-- */
/* Cards */
.mais-populares {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .title {
        width: 905px;
        height: 13.5px;
        display: flex;
        align-items: center;
        margin-left: 22.5px;
        font-size: 18.1px;
        font-weight: bold;
    }

    & .cards {
        width: 945px;
        height: 360px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .c-img {
            width: 243px;
            height: 335px;
            border-radius: 6.3px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .15s ease-out;
 
            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
                transform: scale(1.02);
                transition: all .15s ease-in;
            }
        }

        & img {
            width: 215px;
            height: 260px;
            border-radius: 7px;
            box-shadow: 0 0 15px black;
        }

        & .text {
            width: 229.5px;
            height: 45px;
            border-radius: 6.3px;
        }

        & .c-title {
            font-size: 11.7pt;
            font-weight: 600;
            text-align: center;
            color: #B5B5B5;
            margin-top: 4.5px;
        }

        & .c-designation {
            font-size: 9pt;
            font-weight: 400;
            text-align: center;
            color: var(--cor-01-r);
        }
    }
}

.musicas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .title-s {
        width: 1000px;
        height: 100%;
        font-size: 17px;
        font-weight: bold;
        margin-left: 10px;
    }

    & .cards {
        width: 1225px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        flex-wrap: wrap;

        & .c-img {
            width: 170px;
            height: 265px;
            border-radius: 8px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .35s ease-out;

            &:hover {
                transform: scale(1.02);
                transition: all .35s ease-in;
                background-color: rgba(255, 255, 255, 0.05);
            }

            & img {
                width: 155px;
                height: 180.5px;
                border-radius: 7px;
                box-shadow: 0 0 15px black;
            }
    
            & .text {
                width: 180px;
                height: 45px;
                border-radius: 4px;
            }
    
            & .c-title {
                font-size: 11.25pt;
                font-weight: 700;
                text-align: center;
                margin-top: 4.5px;
            }
    
            & .c-artista {
                font-size: 9.9pt;
                font-weight: 400;
                text-align: center;
                color: var(--cor-t-lvl-02);
            }
    
            & .c-designation {
                font-size: 9pt;
                font-weight: 500;
                text-align: center;
                color: transparent;
            }
        }
    }
}

/* --========================================================================================================-- */