/* --========================================================================================================-- */
/* --===============                             Página de Início                              ==============-- */
/* --========================================================================================================-- */
/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-02-f1);
    border-radius: 15px;
    border: 3px solid transparent;
}

/* Botão de voltar pro início da página */
.b-voltar {
    width: 40px;
    height: 40px;
    position: fixed;
    border-radius: 100%;
    display: block;
    right: 35px;
    bottom: 35px;
    background-color: var(--cor-01-r);
    box-shadow: 0 2px 5px black;
    transition: all .55s ease-out;
    z-index: 1000;

    & a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 16px;
            height: 20px;
        }
    }

    &:hover {
        transform: scale(1.07);
        transition: all .55s ease-in;
    }
}

/* Botões de Scrollagem */
.btn-scroll {
    position: fixed;
    z-index: 10000;
    width: 60px;
    height: 245px;
    display: block;
    top: 40%;
    left: 20px;
    background-color: #00000067;
    box-shadow: 0 2px 5px black;
    border-radius: 7px;

    & ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        & li a img {
            width: 25px;
            height: 25px;
            filter: invert(0.8);
            transition: all .3s ease-out;

            &:hover {
                filter: invert(1);
                transform: scale(1.04);
                transition: all .3s ease-in;
            }
        }
    }
}

/* Cabeçalho */
.cabecalho {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    gap: 25px;
    background: linear-gradient(rgba(28, 30, 31, 0.7), rgba(28, 30, 31, 0));

    & .logo {
        width: 198px;
        height: auto;
    }

    & nav {
        width: 400px;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;

        & ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & li a {
                color: #cecece;
                font-size: 13.5px;
                text-transform: uppercase;
                font-weight: 700;
                border-bottom: 2px solid transparent;
                transition: all .55s ease-out;
                text-shadow: 0 2px 4px rgba(28, 30, 31, 0.5);

                &:hover {
                    color: var(--cor-t-lvl-01);
                    border-bottom: 2px solid var(--cor-t-lvl-01);
                    transition: all .55s ease-in;
                }
            }
        }
    }
}

/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* Novidades semanais */
.novidades {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .25s ease-out;

    &:hover {
        transform: scale(1.05);
        transition: all .25s ease-in;
    }

    & .img-news {
        width: auto;
        height: 100%;
        border-radius: 15px;
        padding-top: 10px;
        box-shadow: 0 0 80px #ce1a1a;
    }

    & .texts {
        width: 575px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        position: absolute;
        text-shadow: 0 0 8px rgba(28, 30, 31, 0.932);
        font-family: "Adamina", serif;
        font-style: normal;
        text-align: start;
        font-weight: 400;
        cursor: default;
        text-transform: uppercase;
        line-height: 1.2;
        padding-bottom: 5px;

        & h2 {
            font-size: 19pt;
        }

        & h3 {
            font-size: 15pt;
        }

        & h4 {
            font-size: 13pt;
        }

        & p {
            font-size: 10pt;
            color: #CECECE;
        }
    }
}

/* Sobre o site */
.sobre {
    width: 1100px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    & h2 {
        width: 905px;
        height: 13.5px;
        display: flex;
        align-items: center;
        margin-left: 22.5px;
        font-size: 18.1px;
        font-weight: bold;
    }

    & .blocks {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        & .b-conteudo {
            width: 320px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4d4d4d;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            cursor: pointer;
            transition: all .33s ease-out;

            & h3 {
                width: 300px;
                font-size: 17px;
                text-align: center;
                color: #B5B5B5;
            }

            &:hover {
                transform: scale(1.03);
                transition: all .13s ease-in;
            }
        }
    }
}

/* Cards & Conteudo Principal */
.mais-populares {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -70px;

    & .title {
        width: 905px;
        height: 13.5px;
        display: flex;
        align-items: center;
        margin-left: 22.5px;
        font-size: 18.1px;
        font-weight: bold;
    }

    & .cards {
        width: 945px;
        height: 360px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .c-img {
            width: 243px;
            height: 335px;
            border-radius: 6.3px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .15s ease-out;

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
                transform: scale(1.02);
                transition: all .15s ease-in;
            }
        }

        & img {
            width: 215px;
            height: 260px;
            border-radius: 7px;
            box-shadow: 0 0 15px black;
        }

        & .text {
            width: 229.5px;
            height: 45px;
            border-radius: 6.3px;
        }

        & .c-title {
            font-size: 11.7pt;
            font-weight: 600;
            text-align: center;
            color: #B5B5B5;
            margin-top: 4.5px;
        }

        & .c-designation {
            font-size: 9pt;
            font-weight: 400;
            text-align: center;
            color: var(--cor-01-r);
        }
    }
}

/* Mais cards */
.mais-musicas {
    width: 100%;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .superiores {
        width: 1200px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .title-s {
        font-size: 17px;
        font-weight: bold;
        margin-left: 10px;
    }

    & .see-more {
        font-size: 11.5pt;
        text-decoration: underline;
        cursor: pointer;
        color: #b4b4b4;
        transition: all .55s ease-out;

        &:hover {
            transform: scale(0.98);
            color: #FBFDFF;
            transition: all .55s ease-in;
        }
    }

    & .cards {
        width: 1225px;
        height: 315px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;

        & .c-img {
            width: 195.5px;
            height: 284.5px;
            border-radius: 8px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .35s ease-out;

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
                transform: scale(1.02);
                transition: all .35s ease-in;
            }

            &:hover .c-designation {
                color: var(--cor-01-r);
                transition: .3s;
            }
        }

        & img {
            width: 162px;
            height: 193.5px;
            border-radius: 7px;
            box-shadow: 0 0 10px black;
        }

        & .text {
            width: 180px;
            height: 45px;
            border-radius: 4px;
        }

        & .c-title {
            font-size: 11.25pt;
            font-weight: 700;
            text-align: center;
            margin-top: 4.5px;
        }

        & .c-artista {
            font-size: 9.9pt;
            font-weight: 400;
            text-align: center;
            color: var(--cor-t-lvl-02);
        }

        & .c-designation {
            font-size: 9pt;
            font-weight: 500;
            text-align: center;
            color: transparent;
        }
    }
}

/* Comentários */
.criticas-mais-vistas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 5px;

    & .superior {
        width: 1100px;
        height: 50px;

        & .title {
            font-size: 17px;
            margin-bottom: 15px;
        }

        & .line {
            width: 1100px;
            height: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--cor-t-lvl-01);
        }
    }

    & .exibicao-c {
        width: 1150px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;

        & .comentario {
            width: 100%;
            height: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .35s ease-out;
            cursor: pointer;
            background-color: rgba(29, 29, 29, 0.05);
            box-shadow: 0 2px 7px rgba(19, 19, 19, 0.726);
            border-radius: 6px;
            border-bottom: 1px solid rgb(78, 78, 78);

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
                border-radius: 5px;
                transition: all .35s ease-in;
            }

            & .referencia {
                width: 250px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 7px;

                & img {
                    width: 150px;
                    height: auto;
                    border-radius: 3px;
                }

                & .music-album {
                    text-align: center;
                    color: #B5B5B5;
                    font-size: 10.5pt;
                }
            }

            & .exibicao-u {
                width: 950px;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & .user {
                    width: 100%;
                    height: 35px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 15px;
                    margin-top: 55px;

                    & img {
                        width: 55px;
                        height: 55px;
                        border-radius: 100%;
                        transition: all .25s ease-out;

                        &:hover {
                            transform: scale(1.05);
                            border: 1px solid white;
                            transition: all .25s ease-in;
                        }
                    }

                    & .name {
                        font-size: 12.5pt;
                        transition: all .55s ease-out;

                        &:hover {
                            text-decoration: underline;
                            transition: all .55s ease-in;
                        }
                    }
                }

                & .critica {
                    width: 100%;
                    height: 340px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & p {
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10.5pt;
                        color: var(--cor-t-lvl-02);
                        text-align: start;
                    }
                }
            }
        }
    }

    & .ver-mais {
        width: 1100px;
        height: 45px;
        display: flex;
        justify-content: end;
        align-items: start;
        margin-top: 10px;

        & h2 {
            color: #616161;
            font-size: 9pt;
            transition: all .55s ease-out;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                color: #757575;
                transition: all .55s ease-in;
            }
        }
    }
}

/* --========================================================================================================-- */