/* --========================================================================================================-- */
/* --===============                             Página de Início                              ==============-- */
/* --========================================================================================================-- */
/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-02-f1);
    border-radius: 15px;
    border: 3px solid transparent;
}

/* Botão de voltar pro início da página */
.b-voltar {
    width: 40px;
    height: 40px;
    position: fixed;
    border-radius: 100%;
    display: block;
    right: 35px;
    bottom: 35px;
    background-color: var(--cor-01-r);
    transition: .2s;
    z-index: 1000;

    & a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 16px;
            height: 20px;
        }
    }

    &:hover {
        transform: scale(1.07);
        transition: .15s;
    }
}

/* Cabeçalho */
.cabecalho {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    & .logo {
        width: 198px;
        height: auto;
    }

    & nav {
        width: 400px;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;

        & ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & li a {
                color: #cecece;
                font-size: 13.5px;
                text-transform: uppercase;
                font-weight: 700;

                &:hover {
                    color: var(--cor-t-lvl-01);

                }
            }
        }
    }
}

/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

/* Cards & Conteudo Principal */
.mais-populares {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    & .title {
        width: 945px;
        height: 13.5px;
        display: flex;
        align-items: center;
        margin-left: 22.5px;
        font-size: 17.1px;
        font-weight: bold;

    }

    & .cards {
        width: 945px;
        height: 360px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .c-img {
            width: 243px;
            height: 355px;
            border-radius: 6.3px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover {
                transform: scale(1.02);
            }
        }

        & img {
            width: 229.5px;
            height: 270px;
            border-radius: 4px;
            box-shadow: 0 1px 5px black;
        }

        & .text {
            width: 229.5px;
            height: 45px;
            border-radius: 6.3px;
        }

        & .c-title {
            font-size: 11.7pt;
            font-weight: 600;
            text-align: center;
            color: #B5B5B5;
            margin-top: 4.5px;
        }

        & .c-designation {
            font-size: 9pt;
            font-weight: 400;
            text-align: center;
            color: var(--cor-01-r);
        }
    }
}

.mais-musicas {
    width: 100%;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .superiores {
        width: 1200px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .title-s {
        font-size: 17px;
        font-weight: bold;
        margin-left: 10px;
    }

    & .see-more {
        font-size: 11.5pt;
        text-decoration: underline;
        cursor: pointer;
        color: #b4b4b4;

        &:hover {
            transform: scale(0.98);
            color: #FBFDFF;
            transition: .15s;
        }
    }

    & .cards {
        width: 1225px;
        height: 315px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;

        & .c-img {
            width: 195.5px;
            height: 284.5px;
            border-radius: 8px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
                transform: scale(1.02);
                transition: .25s;
            }

            &:hover .c-designation {
                color: var(--cor-01-r);
                transition: .1s;
            }
        }

        & img {
            width: 162px;
            height: 193.5px;
            border-radius: 7px;
            box-shadow: 0 2px 10px black;
        }

        & .text {
            width: 180px;
            height: 45px;
            border-radius: 4px;
        }

        & .c-title {
            font-size: 11.25pt;
            font-weight: 700;
            text-align: center;
            margin-top: 4.5px;
        }

        & .c-artista {
            font-size: 9.9pt;
            font-weight: 400;
            text-align: center;
            color: var(--cor-t-lvl-02);
        }

        & .c-designation {
            font-size: 9pt;
            font-weight: 500;
            text-align: center;
            color: transparent;
        }
    }
}

/* Comentários */
.criticas-mais-vistas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 5px;

    & .superior {
        width: 1100px;
        height: 50px;

        & .title {
            font-size: 17px;
            margin-bottom: 15px;
        }

        & .line {
            width: 1100px;
            height: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--cor-t-lvl-01);
        }
    }

    & .exibicao-c {
        width: 1150px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;

        & .comentario {
            width: 100%;
            height: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .4s;
            cursor: pointer;
            background-color: rgba(29, 29, 29, 0.05);
            box-shadow: 0 2px 7px rgba(19, 19, 19, 0.726);
            border-radius: 6px;
            border-bottom: 1px solid rgb(78, 78, 78);

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
                border-radius: 5px;
                transition: .4s;
            }

            & .referencia {
                width: 250px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 7px;

                & img {
                    width: 150px;
                    height: auto;
                    border-radius: 3px;
                }

                & .music-album {
                    text-align: center;
                    color: #B5B5B5;
                    font-size: 10.5pt;
                }
            }

            & .exibicao-u {
                width: 950px;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & .user {
                    width: 100%;
                    height: 35px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 15px;
                    margin-top: 55px;

                    & img {
                        width: 55px;
                        height: 55px;
                        border-radius: 100%;
                        transition: .2s;

                        &:hover {
                            transform: scale(1.05);
                            border: 1px solid white;
                            transition: .2s;
                        }
                    }

                    & .name {
                        font-size: 12.5pt;
                        transition: .2s;

                        &:hover {
                            text-decoration: underline;
                            transition: .2s;
                        }
                    }
                }

                & .critica {
                    width: 100%;
                    height: 340px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & p {
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10.5pt;
                        color: var(--cor-t-lvl-02);
                        text-align: start;
                    }
                }
            }
        }
    }

    & .ver-mais {
        width: 1100px;
        height: 45px;
        display: flex;
        justify-content: end;
        align-items: start;
        margin-top: 10px;

        & h2 {
            color: #616161;
            font-size: 9pt;
            transition: .1s;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                color: #757575;
                transition: .1s;
            }
        }
    }
}

/* --========================================================================================================-- */